{


        "plugins": [
            ["module-resolver", {
                "root": ["./dist"],
                "alias": {
                    "hap-nodejs": "homebridge/node_modules/hap-nodejs"
                }
            }]]

}